<!DOCTYPE html>
<html>
<head>

<style>
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}
</style>
</head>
<body>

<ul>
  <li><a class="active" href="/">Main</a></li>
  
{% if user != None %}
 <li><a class="active" href="{{url_for('profile' , user_id=user.id) }}">{{user.username}}</a></li></ul>
</ul>
{% endif %}

<form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
	<input type=file name=file>
	<input type="text" name="descreption1" placeholder="descreption">
    <input type="text"	 name="title" placeholder="title">
    <input type="submit" value="Upload Image" name="submit">
</form>

</body>
</html>
